table {
  display:inline-block;
  margin:0 30px;
  background:url('../img/bigwater.gif');

}

td {
  border:1px solid rgba(255,255,255,0.4);
  width:30px;
  height:30px;
  position:relative;
}

th {
  width:32px;
  height:32px;
  background:#fff;
}

h3 {
  position: relative;
  width: 360px;
  float: left;
  margin-left: 60px;
}

.boat {
  position:absolute;
  display: block;
  left:-1px;
  top:-1px;
  cursor:pointer;
  z-index: 900;
  transform-origin: 16px 16px;
}

.boat.horizontal {
  transform: rotate(-90deg);
}

.boatboard {
  position: relative;
  left: 30px;
  clear:both;
}

.boatlist {
  height:120px;
}

.boatlist .boat {
  position:relative;
  display:inline-block;
  margin:10px 20px;
  vertical-align: top;
}

.shot {
  position:absolute;
  width:32px;
  height:32px;
}

.case-load {
  background:rgba(200,200,200,0.5);
}

.case-shot {
  background:rgba(255,0,0,0.5);
}

.case-water {
  background:rgba(0,0,255,0.9);
}

.case-sink {
  background:rgba(0,0,0,0.5);
}