table {
  display:inline-block;
  margin:0 30px;
  background:url('../img/bigwater.gif');

}

td {
  border:1px solid rgba(255,255,255,0.4);
  width:30px;
  height:30px;
  position:relative;
}

th {
  width:32px;
  height:32px;
  background:#fff;
}


.boat {
  position:absolute;
  display: block;
  left:-1px;
  top:-1px;
  cursor:pointer;
  z-index: 900;
  transform-origin: 16px 16px;
}

.boat.horizontal {
  transform: rotate(-90deg);
}

.boatboard {
  position: relative;
  left: 30px;
}

.boatlist {
  height:120px;
}

.boatlist .boat {
  position:relative;
  display:inline-block;
  margin:10px 20px;
  vertical-align: top;
}

.shot {
  position:absolute;
  width:32px;
  height:32px;
}